USE [master]
GO
/****** Object:  Database [EnglishGame]    Script Date: 7/1/2020 10:52:02 PM ******/
CREATE DATABASE [EnglishGame]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'EnglishGame', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.ADMIN\MSSQL\DATA\EnglishGame.mdf' , SIZE = 4096KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'EnglishGame_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.ADMIN\MSSQL\DATA\EnglishGame_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [EnglishGame].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [EnglishGame]
GO
/****** Object:  Table [dbo].[Choice]    Script Date: 7/1/2020 10:52:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Choice](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Image] [nvarchar](128) NULL,
	[Voice] [nvarchar](128) NULL,
 CONSTRAINT [PK_Choice] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ChoiceOfUnit]    Script Date: 7/1/2020 10:52:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChoiceOfUnit](
	[Id_Unit] [int] NOT NULL,
	[Id_Choice] [int] NOT NULL,
 CONSTRAINT [PK_ChoiceOfUnit] PRIMARY KEY CLUSTERED 
(
	[Id_Unit] ASC,
	[Id_Choice] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Concentration]    Script Date: 7/1/2020 10:52:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Concentration](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Image] [varchar](128) NULL,
	[Voice] [varchar](128) NULL,
 CONSTRAINT [PK_Word] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ConcentrationOfUnit]    Script Date: 7/1/2020 10:52:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ConcentrationOfUnit](
	[Id_Unit] [int] NOT NULL,
	[Id_Concentration] [int] NOT NULL,
 CONSTRAINT [PK_WordOfUnit] PRIMARY KEY CLUSTERED 
(
	[Id_Unit] ASC,
	[Id_Concentration] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[LookAndFind]    Script Date: 7/1/2020 10:52:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[LookAndFind](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Image] [varchar](128) NULL,
 CONSTRAINT [PK_LookAndFind] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[LookAndFindOfUnit]    Script Date: 7/1/2020 10:52:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LookAndFindOfUnit](
	[Id_Unit] [int] NOT NULL,
	[Id_LookAndFind] [int] NOT NULL,
 CONSTRAINT [PK_LookAndFindOfUnit] PRIMARY KEY CLUSTERED 
(
	[Id_Unit] ASC,
	[Id_LookAndFind] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Matching]    Script Date: 7/1/2020 10:52:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Matching](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Image] [nvarchar](128) NULL,
	[Voice] [nvarchar](128) NULL,
 CONSTRAINT [PK_Matching] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[MatchingOfUnit]    Script Date: 7/1/2020 10:52:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MatchingOfUnit](
	[Id_Unit] [int] NOT NULL,
	[Id_Matching] [int] NOT NULL,
 CONSTRAINT [PK_MatchingOfUnit] PRIMARY KEY CLUSTERED 
(
	[Id_Unit] ASC,
	[Id_Matching] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Painting]    Script Date: 7/1/2020 10:52:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Painting](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Image] [varchar](128) NULL,
	[ImagePainted] [varchar](128) NULL,
	[Request] [varchar](128) NULL,
	[Color] [int] NULL,
 CONSTRAINT [PK_Painting] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[PaintingOfUnit]    Script Date: 7/1/2020 10:52:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PaintingOfUnit](
	[Id_Painting] [int] NOT NULL,
	[Id_Unit] [int] NOT NULL,
 CONSTRAINT [PK_PaintingOfUnit] PRIMARY KEY CLUSTERED 
(
	[Id_Painting] ASC,
	[Id_Unit] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Sorting]    Script Date: 7/1/2020 10:52:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Sorting](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Image] [varchar](128) NULL,
	[Voice] [varchar](128) NULL,
 CONSTRAINT [PK_Sorting] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[SortingOfUnit]    Script Date: 7/1/2020 10:52:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SortingOfUnit](
	[Id_Unit] [int] NOT NULL,
	[Id_Sorting] [int] NOT NULL,
 CONSTRAINT [PK_SortingOfUnit] PRIMARY KEY CLUSTERED 
(
	[Id_Unit] ASC,
	[Id_Sorting] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Storytime]    Script Date: 7/1/2020 10:52:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Storytime](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Sound] [varchar](128) NULL,
	[Image] [varchar](128) NULL,
	[Text] [varchar](256) NULL,
 CONSTRAINT [PK_Sentence] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[StorytimeOfUnit]    Script Date: 7/1/2020 10:52:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StorytimeOfUnit](
	[Id_Unit] [int] NOT NULL,
	[Id_Storytime] [int] NOT NULL,
 CONSTRAINT [PK_SentenceOfUnit] PRIMARY KEY CLUSTERED 
(
	[Id_Unit] ASC,
	[Id_Storytime] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Unit]    Script Date: 7/1/2020 10:52:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Unit](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Number] [int] NULL,
	[VoiceUnit] [varchar](128) NULL,
	[Title] [varchar](128) NULL,
	[VoiceTitle] [varchar](128) NULL,
	[Image] [varchar](128) NULL,
	[ImageButton] [varchar](128) NULL,
	[ImageButtonOver] [varchar](128) NULL,
	[ImageButtonSel] [varchar](128) NULL,
 CONSTRAINT [PK_Unit] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[Choice] ON 

INSERT [dbo].[Choice] ([Id], [Image], [Voice]) VALUES (1, N'..\..\media\textures\multiplechoice\act1\img1.png', N'..\..\media\audio\multiplechoice\act1\sound1.mp3')
INSERT [dbo].[Choice] ([Id], [Image], [Voice]) VALUES (2, N'..\..\media\textures\multiplechoice\act1\img2.png', N'..\..\media\audio\multiplechoice\act1\sound2.mp3')
INSERT [dbo].[Choice] ([Id], [Image], [Voice]) VALUES (3, N'..\..\media\textures\multiplechoice\act1\img3.png', N'..\..\media\audio\multiplechoice\act1\sound3.mp3')
SET IDENTITY_INSERT [dbo].[Choice] OFF
INSERT [dbo].[ChoiceOfUnit] ([Id_Unit], [Id_Choice]) VALUES (1, 1)
INSERT [dbo].[ChoiceOfUnit] ([Id_Unit], [Id_Choice]) VALUES (1, 2)
INSERT [dbo].[ChoiceOfUnit] ([Id_Unit], [Id_Choice]) VALUES (1, 3)
SET IDENTITY_INSERT [dbo].[Concentration] ON 

INSERT [dbo].[Concentration] ([Id], [Image], [Voice]) VALUES (1, N'..\..\media\textures\concentration\act1\img1.png', N'..\..\media\audio\concentration\act1\sound1.mp3')
INSERT [dbo].[Concentration] ([Id], [Image], [Voice]) VALUES (2, N'..\..\media\textures\concentration\act1\img2.png', N'..\..\media\audio\concentration\act1\sound2.mp3')
INSERT [dbo].[Concentration] ([Id], [Image], [Voice]) VALUES (3, N'..\..\media\textures\concentration\act1\img3.png', N'..\..\media\audio\concentration\act1\sound3.mp3')
SET IDENTITY_INSERT [dbo].[Concentration] OFF
INSERT [dbo].[ConcentrationOfUnit] ([Id_Unit], [Id_Concentration]) VALUES (1, 1)
INSERT [dbo].[ConcentrationOfUnit] ([Id_Unit], [Id_Concentration]) VALUES (1, 2)
INSERT [dbo].[ConcentrationOfUnit] ([Id_Unit], [Id_Concentration]) VALUES (1, 3)
SET IDENTITY_INSERT [dbo].[LookAndFind] ON 

INSERT [dbo].[LookAndFind] ([Id], [Image]) VALUES (1, N'..\..\media\textures\lookandfind\act1\obj1.png')
INSERT [dbo].[LookAndFind] ([Id], [Image]) VALUES (2, N'..\..\media\textures\lookandfind\act1\obj2.png')
INSERT [dbo].[LookAndFind] ([Id], [Image]) VALUES (3, N'..\..\media\textures\lookandfind\act1\obj3.png')
SET IDENTITY_INSERT [dbo].[LookAndFind] OFF
INSERT [dbo].[LookAndFindOfUnit] ([Id_Unit], [Id_LookAndFind]) VALUES (1, 1)
INSERT [dbo].[LookAndFindOfUnit] ([Id_Unit], [Id_LookAndFind]) VALUES (1, 2)
INSERT [dbo].[LookAndFindOfUnit] ([Id_Unit], [Id_LookAndFind]) VALUES (1, 3)
SET IDENTITY_INSERT [dbo].[Matching] ON 

INSERT [dbo].[Matching] ([Id], [Image], [Voice]) VALUES (1, N'..\..\media\textures\matching\act1\img1.png', N'..\..\media\audio\matching\act1\sound1.mp3')
INSERT [dbo].[Matching] ([Id], [Image], [Voice]) VALUES (2, N'..\..\media\textures\matching\act1\img2.png', N'..\..\media\audio\matching\act1\sound2.mp3')
INSERT [dbo].[Matching] ([Id], [Image], [Voice]) VALUES (3, N'..\..\media\textures\matching\act1\img3.png', N'..\..\media\audio\matching\act1\sound3.mp3')
SET IDENTITY_INSERT [dbo].[Matching] OFF
INSERT [dbo].[MatchingOfUnit] ([Id_Unit], [Id_Matching]) VALUES (1, 1)
INSERT [dbo].[MatchingOfUnit] ([Id_Unit], [Id_Matching]) VALUES (1, 2)
INSERT [dbo].[MatchingOfUnit] ([Id_Unit], [Id_Matching]) VALUES (1, 3)
SET IDENTITY_INSERT [dbo].[Painting] ON 

INSERT [dbo].[Painting] ([Id], [Image], [ImagePainted], [Request], [Color]) VALUES (1, N'..\..\media\textures\painting\act1\img1.png', N'..\..\media\textures\painting\act1\coloredimg1.png', N'..\..\media\audio\painting\act1\sound1.mp3', 1)
INSERT [dbo].[Painting] ([Id], [Image], [ImagePainted], [Request], [Color]) VALUES (2, N'..\..\media\textures\painting\act1\img2.png', N'..\..\media\textures\painting\act1\coloredimg2.png', N'..\..\media\audio\painting\act1\sound2.mp3', 1)
INSERT [dbo].[Painting] ([Id], [Image], [ImagePainted], [Request], [Color]) VALUES (3, N'..\..\media\textures\painting\act1\img3.png', N'..\..\media\textures\painting\act1\coloredimg3.png', N'..\..\media\audio\painting\act1\sound3.mp3', 1)
SET IDENTITY_INSERT [dbo].[Painting] OFF
INSERT [dbo].[PaintingOfUnit] ([Id_Painting], [Id_Unit]) VALUES (1, 1)
INSERT [dbo].[PaintingOfUnit] ([Id_Painting], [Id_Unit]) VALUES (2, 1)
INSERT [dbo].[PaintingOfUnit] ([Id_Painting], [Id_Unit]) VALUES (3, 1)
SET IDENTITY_INSERT [dbo].[Sorting] ON 

INSERT [dbo].[Sorting] ([Id], [Image], [Voice]) VALUES (1, N'..\..\media\textures\sequence\act1\img1.png', N'..\..\media\audio\sequence\act1\sound1.mp3')
INSERT [dbo].[Sorting] ([Id], [Image], [Voice]) VALUES (2, N'..\..\media\textures\sequence\act1\img2.png', N'..\..\media\audio\sequence\act1\sound2.mp3')
INSERT [dbo].[Sorting] ([Id], [Image], [Voice]) VALUES (3, N'..\..\media\textures\sequence\act1\img3.png', N'..\..\media\audio\sequence\act1\sound3.mp3')
SET IDENTITY_INSERT [dbo].[Sorting] OFF
INSERT [dbo].[SortingOfUnit] ([Id_Unit], [Id_Sorting]) VALUES (1, 1)
INSERT [dbo].[SortingOfUnit] ([Id_Unit], [Id_Sorting]) VALUES (1, 2)
INSERT [dbo].[SortingOfUnit] ([Id_Unit], [Id_Sorting]) VALUES (1, 3)
SET IDENTITY_INSERT [dbo].[Storytime] ON 

INSERT [dbo].[Storytime] ([Id], [Sound], [Image], [Text]) VALUES (1, N'..\..\media\audio\storytime\act1\sound1.mp3', N'..\..\media\textures\storytime\act1\img1.png', N'School Days')
INSERT [dbo].[Storytime] ([Id], [Sound], [Image], [Text]) VALUES (2, N'..\..\media\audio\storytime\act1\sound2.mp3', N'..\..\media\textures\storytime\act1\img2.png', N'-What is this?')
INSERT [dbo].[Storytime] ([Id], [Sound], [Image], [Text]) VALUES (3, N'..\..\media\audio\storytime\act1\sound3.mp3', N'..\..\media\textures\storytime\act1\img3.png', N'-It is a puppet.')
SET IDENTITY_INSERT [dbo].[Storytime] OFF
INSERT [dbo].[StorytimeOfUnit] ([Id_Unit], [Id_Storytime]) VALUES (1, 1)
INSERT [dbo].[StorytimeOfUnit] ([Id_Unit], [Id_Storytime]) VALUES (1, 2)
INSERT [dbo].[StorytimeOfUnit] ([Id_Unit], [Id_Storytime]) VALUES (1, 3)
SET IDENTITY_INSERT [dbo].[Unit] ON 

INSERT [dbo].[Unit] ([Id], [Number], [VoiceUnit], [Title], [VoiceTitle], [Image], [ImageButton], [ImageButtonOver], [ImageButtonSel]) VALUES (1, 1, N'..\..\media\audio\global\BigF1_cdau_menu_U01.mp3', N'My Class', N'..\..\media\audio\global\Activity_1.mp3', N'\media\textures\global\Menu_Globe_U1.png', N'\media\textures\global\Bt_unit_1.png', N'\media\textures\global\Bt_unit_1_over.png', N'\media\textures\global\Bt_unit_1_sel.png')
INSERT [dbo].[Unit] ([Id], [Number], [VoiceUnit], [Title], [VoiceTitle], [Image], [ImageButton], [ImageButtonOver], [ImageButtonSel]) VALUES (2, 2, N'..\..\media\audio\global\BigF1_cdau_menu_U02.mp3', N'My Body', N'..\..\media\audio\global\Activity_2.mp3', N'\media\textures\global\Menu_Globe_U2.png', N'\media\textures\global\Bt_unit_2.png', N'\media\textures\global\Bt_unit_2_over.png', N'\media\textures\global\Bt_unit_2_sel.png')
INSERT [dbo].[Unit] ([Id], [Number], [VoiceUnit], [Title], [VoiceTitle], [Image], [ImageButton], [ImageButtonOver], [ImageButtonSel]) VALUES (3, 3, N'..\..\media\audio\global\BigF1_cdau_menu_U03.mp3', N'My Family', N'..\..\media\audio\global\Activity_3.mp3', N'\media\textures\global\Menu_Globe_U3.png', N'\media\textures\global\Bt_unit_3.png', N'\media\textures\global\Bt_unit_3_over.png', N'\media\textures\global\Bt_unit_3_sel.png')
SET IDENTITY_INSERT [dbo].[Unit] OFF
ALTER TABLE [dbo].[ChoiceOfUnit]  WITH CHECK ADD  CONSTRAINT [FK_ChoiceOfUnit_Choice] FOREIGN KEY([Id_Choice])
REFERENCES [dbo].[Choice] ([Id])
GO
ALTER TABLE [dbo].[ChoiceOfUnit] CHECK CONSTRAINT [FK_ChoiceOfUnit_Choice]
GO
ALTER TABLE [dbo].[ChoiceOfUnit]  WITH CHECK ADD  CONSTRAINT [FK_ChoiceOfUnit_Unit] FOREIGN KEY([Id_Unit])
REFERENCES [dbo].[Unit] ([Id])
GO
ALTER TABLE [dbo].[ChoiceOfUnit] CHECK CONSTRAINT [FK_ChoiceOfUnit_Unit]
GO
ALTER TABLE [dbo].[ConcentrationOfUnit]  WITH CHECK ADD  CONSTRAINT [FK_WordOfUnit_Unit] FOREIGN KEY([Id_Unit])
REFERENCES [dbo].[Unit] ([Id])
GO
ALTER TABLE [dbo].[ConcentrationOfUnit] CHECK CONSTRAINT [FK_WordOfUnit_Unit]
GO
ALTER TABLE [dbo].[ConcentrationOfUnit]  WITH CHECK ADD  CONSTRAINT [FK_WordOfUnit_Word] FOREIGN KEY([Id_Concentration])
REFERENCES [dbo].[Concentration] ([Id])
GO
ALTER TABLE [dbo].[ConcentrationOfUnit] CHECK CONSTRAINT [FK_WordOfUnit_Word]
GO
ALTER TABLE [dbo].[LookAndFindOfUnit]  WITH CHECK ADD  CONSTRAINT [FK_LookAndFindOfUnit_LookAndFind] FOREIGN KEY([Id_LookAndFind])
REFERENCES [dbo].[LookAndFind] ([Id])
GO
ALTER TABLE [dbo].[LookAndFindOfUnit] CHECK CONSTRAINT [FK_LookAndFindOfUnit_LookAndFind]
GO
ALTER TABLE [dbo].[LookAndFindOfUnit]  WITH CHECK ADD  CONSTRAINT [FK_LookAndFindOfUnit_Unit] FOREIGN KEY([Id_Unit])
REFERENCES [dbo].[Unit] ([Id])
GO
ALTER TABLE [dbo].[LookAndFindOfUnit] CHECK CONSTRAINT [FK_LookAndFindOfUnit_Unit]
GO
ALTER TABLE [dbo].[MatchingOfUnit]  WITH CHECK ADD  CONSTRAINT [FK_MatchingOfUnit_Matching] FOREIGN KEY([Id_Matching])
REFERENCES [dbo].[Matching] ([Id])
GO
ALTER TABLE [dbo].[MatchingOfUnit] CHECK CONSTRAINT [FK_MatchingOfUnit_Matching]
GO
ALTER TABLE [dbo].[MatchingOfUnit]  WITH CHECK ADD  CONSTRAINT [FK_MatchingOfUnit_Unit] FOREIGN KEY([Id_Unit])
REFERENCES [dbo].[Unit] ([Id])
GO
ALTER TABLE [dbo].[MatchingOfUnit] CHECK CONSTRAINT [FK_MatchingOfUnit_Unit]
GO
ALTER TABLE [dbo].[PaintingOfUnit]  WITH CHECK ADD  CONSTRAINT [FK_PaintingOfUnit_Painting] FOREIGN KEY([Id_Painting])
REFERENCES [dbo].[Painting] ([Id])
GO
ALTER TABLE [dbo].[PaintingOfUnit] CHECK CONSTRAINT [FK_PaintingOfUnit_Painting]
GO
ALTER TABLE [dbo].[PaintingOfUnit]  WITH CHECK ADD  CONSTRAINT [FK_PaintingOfUnit_Unit] FOREIGN KEY([Id_Unit])
REFERENCES [dbo].[Unit] ([Id])
GO
ALTER TABLE [dbo].[PaintingOfUnit] CHECK CONSTRAINT [FK_PaintingOfUnit_Unit]
GO
ALTER TABLE [dbo].[SortingOfUnit]  WITH CHECK ADD  CONSTRAINT [FK_SortingOfUnit_Sorting] FOREIGN KEY([Id_Sorting])
REFERENCES [dbo].[Sorting] ([Id])
GO
ALTER TABLE [dbo].[SortingOfUnit] CHECK CONSTRAINT [FK_SortingOfUnit_Sorting]
GO
ALTER TABLE [dbo].[SortingOfUnit]  WITH CHECK ADD  CONSTRAINT [FK_SortingOfUnit_Unit] FOREIGN KEY([Id_Unit])
REFERENCES [dbo].[Unit] ([Id])
GO
ALTER TABLE [dbo].[SortingOfUnit] CHECK CONSTRAINT [FK_SortingOfUnit_Unit]
GO
ALTER TABLE [dbo].[StorytimeOfUnit]  WITH CHECK ADD  CONSTRAINT [FK_SentenceOfUnit_Sentence] FOREIGN KEY([Id_Storytime])
REFERENCES [dbo].[Storytime] ([Id])
GO
ALTER TABLE [dbo].[StorytimeOfUnit] CHECK CONSTRAINT [FK_SentenceOfUnit_Sentence]
GO
ALTER TABLE [dbo].[StorytimeOfUnit]  WITH CHECK ADD  CONSTRAINT [FK_SentenceOfUnit_Unit] FOREIGN KEY([Id_Unit])
REFERENCES [dbo].[Unit] ([Id])
GO
ALTER TABLE [dbo].[StorytimeOfUnit] CHECK CONSTRAINT [FK_SentenceOfUnit_Unit]
GO
USE [master]
GO
